/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}



/* ==|== primary styles =====================================================
   Author: githugs
   ========================================================================== */

html {
  margin: 0 0 !important;
  padding: 0 0 !important;
}
body {
  background-image: url(../img/bg_tile.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  margin: 0 0 !important;
  padding: 0 0 !important;
  font-family: Georgia, Verdana, Arial, serif;
}

#container {
  width: 960px;
  margin: 0 auto;
  min-height: 650px;
  background-image: url(../img/bg_center.jpg);
  background-repeat: no-repeat;
}

h1 {
  width: 398px;
  height: 169px;
  display: block;
  padding-top: 80px;
  margin: 0 auto;
  text-indent: -10000px;
  background-image: url(../img/githugs_logo.png);
  background-repeat: no-repeat;
  background-position: 0 80px;
}

#main {
  background-image: url(../img/birds.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 960px;
  padding-top: 250px;
  background-position: 97px 119px;
}

#github_user {
  display: block;
  width: 445px;
  height: 43px;
  padding: 5px;
  background-color: white;
  border: 1px solid #BD5D83;
  margin: 25px auto;
  font-size: 43px;
  line-height: 43px;
  color: #999999;
  -webkit-box-shadow: 0px 0px 2px #666;
     -moz-box-shadow: 0px 0px 2px #666;
          box-shadow: 0px 0px 2px #666;
}

#banner {
  text-indent: -10000px;
  background-image: url(../img/banner.png);
  width: 294px;
  height: 89px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 442px;
  margin-top: -3px;
}
#recent_container {
  padding-top: 100px;
}
#recent_container h2 {
  text-indent: -10000px;
  background-image: url(../img/recent_githugs.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  width: 234px;
  height: 39px;
  margin: 30px auto 10px;
}
#recent_hugs {
  border-top: 1px solid #E5C6CB;
  list-style-type: none;
  width: 560px;
  margin: 0 auto;
}
#recent_hugs li {
  display: block;
  border-bottom: 1px solid #E0BAC1;
  font-size: 18px;
  color: #333;
  padding: 10px 0;
  text-align: right;
}
#recent_hugs li a {
  color: #EEEEEE;
  text-decoration: none;
}
#recent_hugs li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.message {
  position: fixed;
  top: 10px;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px;
  color: #BD5D83;
  background-color: whiteSmoke;
  width: 960px;
  font-size: 18px;
    -webkit-box-shadow: 0px 0px 2px #666;
       -moz-box-shadow: 0px 0px 2px #666;
            box-shadow: 0px 0px 2px #666;
}

input::-webkit-input-placeholder {
   color: #EEEEEE;
   line-height:43px;
   font-size: 43px;
   padding-top:5px;
}

input::-moz-input-placeholder {
   color: #EEEEEE;
   line-height:43px;
   font-size: 43px;
   padding-top:5px;
}
input::-o-input-placeholder {
   color: #EEEEEE;
   line-height:43px;
   font-size: 43px;
   padding-top:5px;
}





/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
