module.exports = {

  // GitHub credentials.
  github: {
    login: 'login',
    password: 'password',
    token: 'whatevs'
  },

  // Server config.
  server: {
    port: 3000,
    host: '127.0.0.1'
  },

  // Hug config.
  hug: {
    frequency: 86400000
  }
};
